<header th:fragment="header">
    <div class="header">
        <!-- Esquerda -->
        <button class="btn" id="btnOpcoes">
        	<img th:src="@{/img/menu.png}" alt="Menu">
        </button>

        <!-- Centro -->
        <div class="title">MottuMap</div>

        <!-- Direita -->
        <button class="btn" id="btnSair">
        	<img th:src="@{/img/sair.png}" alt="Sair">
        </button>
    </div>

    <!-- Import CSS e JS -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script th:src="@{/js/header.js}"></script>
</header>