<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista de Históricos</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<!-- cabeçalho -->
    <div th:replace="fragments/header :: header"></div>

	<!-- navbar -->
    <div th:replace="fragments/navbar :: navbar('historicos')"></div>
    
    <!-- sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
	
	
    <!-- main -->
    <main class="content">
      <div class="container">
        <h1>Históricos cadastrados</h1>

        <div class="table-wrap">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Posição</th>
                <th>Moto Id</th>
                <th>Zona Id</th>
                <th>Sensor Id</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="historico : ${historicos}">
                <td th:text="${historico.id}"></td>
                <td th:text="${historico.posicao}"></td>
                <td th:text="${historico.motoId}"></td>
                <td th:text="${historico.zonaId}"></td>
                <td th:text="${historico.sensorId}"></td>
                <td class="action-icons">
                  <a th:href="@{/web/historicos/editar/{id}(id=${historico.id})}">
                    <img th:src="@{/img/edit.png}" alt="Editar">
                  </a>
                  <a th:href="@{/web/historicos/excluir/{id}(id=${historico.id})}"
                     onclick="return confirm('Tem certeza que deseja excluir este histórico?');">
                    <img th:src="@{/img/delete.png}" alt="Excluir">
                  </a>
                </td>         
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </main>
    
    
    <!-- footer -->
    <div th:replace="fragments/footer :: footer"></div>
    
   

</body>
</html>